<br>
<form [formGroup]="paymentAddForm">
    <h5>Payment Details</h5>
<div class="grid p-fluid">
     <div class="row">
   <!-- <div class="col-md-4">
        <input class="p-inputgroup">
            <input type="text"  [readonly]="true"   class="form-control" formControlName="totalPrice" pInputText>       
        </div> 
    </div> -->
    
    <div class="col-md-4">
        <div class="p-inputgroup">
            <h5>Tutar:  </h5>
           <h4> ₺ {{totalPrice}}</h4>
                
        </div>
    </div>
   
</div>
<br>
<div class="row">
<div class="col-md-12">
    <h5>Do you have a promotion Code?</h5>
    <div  style="margin-left: 5px; margin-right: 5px;" class="p-inputgroup">
        <span class="p-inputgroup-addon">Promotion Code</span>
        <input  class="form-control" formControlName="promotionId"  type="text" pInputText placeholder="promotion code">      
    </div>
</div>
</div>
</div>
<br>
<p-button type="button" label="Next" (onClick)="addPayment()" icon="pi pi-angle-right" iconPos="right"></p-button>
<br>
</form>