<div class="container">
<div class="row">
   <div class="col-md-4">
<p-card header="Kia Benzinli" subheader="Ekonomik"  styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets/showcase/araba1.jpg">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <ng-template pTemplate="footer">
        <p-button label="Car Detail" icon="pi pi-check"></p-button>
    </ng-template>
</p-card>
</div>
<div class="col-md-4">
    <p-card header="Bmw Benzinli" subheader="Orta"  styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img style="height: 140px;" alt="Card" src="assets/showcase/araba2.jpg">
        </ng-template>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <ng-template pTemplate="footer">
            <p-button label="Car Detail" icon="pi pi-check"></p-button>
        </ng-template>
    </p-card>
</div>
<div class="col-md-4">
        <p-card header="Hundai Benzinli" subheader="Ekonomik"  styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img  style="height: 140px;" alt="Card" src="assets/showcase/araba3.jpg">
            </ng-template>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <ng-template pTemplate="footer">
                <p-button label="Car Detail" icon="pi pi-check"></p-button>
            </ng-template>
        </p-card>
    </div>
</div>
</div>